snippet r::r
	Route::resource('${1}', '${2}');

snippet r::g
	Route::get('${1}', function()
	{
		${2}
	});

snippet r::p
	Route::post('${1}', function()
	{
		${2}
	});

snippet v::m
	return View::make('${1}');
